*{
    margin: 0% 0;
    box-sizing: border-box;
    font-family: 'work sans';
}
html , body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: flex-end;
    padding: 0px 90px;
    padding-top: 40px;
    gap: 60px;
    
}
#left{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
    
}


#left h1{
    font-weight: 500;
    line-height: 150px;
    font-size: 120px;
    

}
#color{
    border: 1px solid black;
    color: black;
    width: fit-content;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    justify-content: space-evenly;
}
#color1{
    height: 20px;
    width: 20px;
    background-color: burlywood;
    border-radius: 50px;
    padding: 0 3px;
    margin: 3px;
}
#color2{
    height: 20px;
    width: 20px;
    background-color: maroon;
    border-radius: 50%;
    padding: 0 1px;
}
#color h5{
    font-size: 20px;
    margin-right: 10px;
}
#left h2{
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 10px;

}
#left p{
    font-size: 20px;
    width: 70%;
    font-weight: 600;
    color: #444;
    line-height: 24px;
}
#right{
    height: 90%;
    width: 36%;
    position: relative;
    margin-top: 34px;
}
#right-top{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
#right-top h4{
    font-size: 30px;
    font-weight: 600;
    font-family: work sans;
}
#right-top h5{
    font-size: 16px;
}
#right-top h5 i{
    color: goldenrod;
}
#right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#black-gola{
    position: absolute;
    height: 190px;
    width: 190px;
    background-color: rgb(55, 59, 103);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -18%;
    top: 24%; 

}
#black-gola h5{
    font-size: 26px;
    font-weight: 500    ;
}
#rotated{
    width: 100%;
    position: absolute;
    bottom: 3%;
    rotate: -90deg;
    transform-origin: 0 0 ;
    font-size: 35px;
    font-weight: 500;
    bottom: 4;
    color: white;
    
}